<h1>Ex 002 - Compatilhamento de dados entre componente pai para o filho</h1>

<div>
  <p>Você foi designado para criar um aplicativo Angular que demonstre a comunicação de dados entre um componente pai e um componente filho. O objetivo é passar informações do componente pai para o componente filho e exibi-las na interface do usuário.</p>

  <h3>Tarefas:</h3>

  <ul>
    <li>Crie um componente chamado "<b>PaiComponent</b>" que contenha um campo de entrada (input) e um botão.</li>

    <li>Crie um segundo componente chamado FilhoComponent que exibirá os dados recebidos do componente pai.</li>

    <li>
      Configure um serviço para gerenciar a comunicação entre os componentes. Este serviço será responsável por transmitir os dados do "<b>PaiComponent</b>" para o "<b>FilhoComponent</b>".
    </li>

    <li>Ao pressionar o botão no PaiComponent, os dados inseridos no campo de entrada devem ser transmitidos ao "<b>FilhoComponent</b>"</li>

    <li>Exiba os dados recebidos no FilhoComponent em uma área específica da interface</li>
  </ul>

  <h3>Requisitos adicionais:</h3>

  <ul>
    <li>Utilize as práticas recomendadas do Angular para a comunicação entre componentes.</li>

    <li>Certifique-se de que os dados são atualizados dinamicamente no FilhoComponent quando o conteúdo do PaiComponent é alterado.</li>

    <li>
      Adicione uma funcionalidade de reset no FilhoComponent para limpar os dados exibidos.
    </li>
  </ul>
</div>
