<div class="container" >
  <h1>Exercício 001 - em Angular</h1>
<p>O objetivo deste exercício é familiarizar-se com a manipulação de dados no template de um componente Angular. Será necessário criar um componente e realizar operações básicas, como exibir dados, interagir com eventos e atualizar o conteúdo dinamicamente.
</p>

<h3>Instruções:
</h3>

<ol>
  <li>Crie um novo componente chamado DataManipulationComponent.</li>

  <li> Defina um array de objetos que representem dados fictícios. Cada objeto deve ter pelo menos três propriedades.</li>

  <li>No template do componente, utilize estruturas de repetição para exibir os dados em uma lista.
    </li>


  <li>
    Adicione um botão ou elemento interativo para cada item na lista.
    Ao clicar no botão, exiba no console uma mensagem ou informações específicas sobre o item relacionado.
    </li>

  <li>
    Adicione um botao para excluir o item.
  </li>
</ol>
</div>

<h1>Resolution:</h1>
<app-data-manipulation-component></app-data-manipulation-component>
